<!DOCTYPE html>
<html lang="en">
<body>
<img src="http://127.0.0.1:8083/images/contactUs.JPG" alt="logo icon" style="right:500px;width:500px;height:150px;border:0;" >

<div class="container">
<main>
<div class="jumbotron">
<p>Phone: (32) 253 9870</p>
<p>Fax: (32) 255 6961</p>
<p>General Maxilom Mobile #: +63 917 777 7161  | ‎+63 998 8822 528</p>
<p>Rustans Ayala Mobile #: +63 917 777 7489 | ‎+63 998 8822 518</p>
<p>SM Seaside Mobile #: +63 977 811 7988 | ‎+63 998 8822 538</p>

</div>
</main>		
</div>
		
<br><br>

</body>
</html>
