<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body onload="onLoad()">
<header>
    <% include partials/header %>
</header>
<div class="container">
<main>
	<div id="body" >
		<img src="http://127.0.0.1:8083/images/aboutUs.JPG" alt="logo icon" style="right:500px;width:350px;height:150px;border:0;" >
		<div class="jumbotron">	
			<p>We offer a wide array of flowers and plants to make any celebration that much sweeter. Whether you’re looking for the classic elegance of lilies, want the alluring scent of roses, or admire the exotic beauty of bonsais, we’ve got you covered. Regardless of the occasion, you can find local floral gifts to add a special something to the revelry. Browse holiday flowers to make every holiday special, or celebrate a milestone birthday with our festive birthday flowers. Surprise your famiy with a beautiful bouquet of Easter flowers and don’t forget to send Mother’s Day flowers and gifts to Mom in May. Complement our flower arrangements with a Funeral and Sympathy Flowers gourmet gift basket, or send along candies and cookies for an extra burst of sweetness. 
			</p>
		</div>
	</div>
	
	
<div id="id06" class="modal">
  <span onclick="document.getElementById('id06').style.display='none'" class="close" title="Close Modal">&times;</span>

  <!-- Modal Content -->
  <div class="modal-content animate" style="opacity:1;">
    <div class="imgcontainer">
      <img src="/images/pleaseWait.JPG" alt="editUser" style="width: 300px; height: 100px;">
	</div>
	<div class="imgcontainer" >
	  <img src="/images/loading.JPG" id=loading alt="editUser"  style="width: 100px; height: 100px;">
    </div>
   <br>
   <br>
	</div>

</div> 

<div id="id07" class="modal" >
  <span onclick="document.getElementById('id07').style.display='none'" class="close" title="Close Modal">&times;</span>

  <!-- Modal Content -->
  <div class="modal-content animate">
    <div class="imgcontainer">
      <img src="/images/failedMission.JPG" alt="editUser" style="width: 400px; height: 100px;">
	</div>
	<div class="imgcontainer" >
	<img src="/images/refresh.PNG" onclick="location.reload()"  title="refresh" style="margin-left:20px;width:38px;height:38px;" >
    </div>
   <br>
   <br>
	</div>

    

</div> 


	
</main>		
</div>

	



	
<br><br>

<footer>
    <% include partials/footer %>
</footer>

</body>
</html>
